
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Category</p>
                    <h6 class="mb-0">@ViewBag.totalCategory</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Course</p>
                    <h6 class="mb-0">@ViewBag.totalCourse</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total Course Price</p>
                    <h6 class="mb-0">@ViewBag.totalCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Programming Algorithm</p>
                    <h6 class="mb-0">@ViewBag.getProgrammingAlgorithmCoursePrice ₺</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-apple-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Average Course Review</p>
                    <h6 class="mb-0">@ViewBag.avgCourseReview ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-cloud fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Course (Over 30 ₺ Price)</p>
                    <h6 class="mb-0">@ViewBag.getOver30Price</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-blog fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Last Course Price</p>
                    <h6 class="mb-0">@ViewBag.lastCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-dragon fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">2. Course Title</p>
                    <h6 class="mb-0">@ViewBag.getTitleByCourseID2</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-atom fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Software Course Count</p>
                    <h6 class="mb-0">@ViewBag.softwareCourseCount</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bus-alt fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Maximum Course Price</p>
                    <h6 class="mb-0">@ViewBag.maxCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-bicycle fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Minimum Course Price</p>
                    <h6 class="mb-0">@ViewBag.minCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calculator fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Most Expensive Course</p>
                    <h6 class="mb-0">@ViewBag.mostExpensiveCourse</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-brush fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son Eklenen Kurs</p>
                    <h6 class="mb-0">@ViewBag.lastCourseTitle</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-calendar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Average Software Course Price</p>
                    <h6 class="mb-0">@ViewBag.avgSoftwareCoursePrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-database fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Son 3 Kursun Fiyatı</p>
                    <h6 class="mb-0">@ViewBag.last3CourseTotalPrice ₺</h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-light rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-egg fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">En Değerli Kurs</p>
                    <h6 class="mb-0">@ViewBag.getCourseCategorySoftwareAndReviewMore9Score</h6>
                </div>
            </div>
        </div>
    </div>
</div>

